:root {
    --dark-blue: #023047;
    --yellow: #FFB703;
    --green: #606C38;
    --blue: #219EBC;
    --orange: #FB8500;
    --dark-green: #283618;
}

body {
    font-family: 'Oswald', 'Lora', sans-serif;
    line-height: 1.6;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    padding: 1rem;
    background-color: var(--orange);
    color: white;
    text-align: center;
    font-weight: bold;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

h2 {
    background-color: #023047;
    color: var(--yellow);
    text-align: left;
    padding: 1em;
    grid-column: 1 / -1; /* Span across both columns */
}

article p {
    text-align: justify;
}

.callout {
    color: white;
    background-color: var(--dark-green);
    padding: 1.5rem; /* Updated padding for better readability */
    border-radius: 10px; /* Optional: Adding some rounding for better look */
}

section {
    padding: 1rem;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left; /* Align footer content to the left */
}
